*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(iki.jpg) no-repeat center fixed; 
    background-size: cover;
    
}
.basla_button button{
    font-size: 25px;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.quiz{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}
.quiz_baslik{
    padding: 0 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.second_start{
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.second_start button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #007bff;
}
.quiz_box{
    width: 550px;
    background: rgb(204, 71, 71);
    border-radius: 5px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}
.quiz_box header{
    position: relative;
    height: 70px;
    padding: 0 30px;
    background: rgb(204, 71, 71);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer{
    color: #0d0d0e;
    background: #cce5ff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 145px;
}
.saniye{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: rgb(12, 12, 12);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
       
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .soru_text{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
}
footer{
    height: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    
}
footer .toplam_soru span{
    display: flex;
}
footer button{ 
    opacity: 0;
}
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
}
.result_box .second_start button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
}
.second_start button.started{
    color: #fff;
    background: #007bff;
}
.answer-image {
    width: 200px;
    height: 200px;
}
.basla_button,
.quiz,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.quiz.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    pointer-events: auto;
}
